/* @import url(https://fonts.googleapis.com/css?family=Oswald:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700); */

@-keyframes grow-100{
   from { right: 100%; }
   to   { right: 10%; }
}

@-webkit-keyframes grow-100{
   from { right: 100%; }
   to   { right: 0%; }
}

@-keyframes grow-95{
    from { right: 100%; }
    to   { right: 5%; }
 }
 
 @-webkit-keyframes grow-95{
    from { right: 100%; }
    to   { right: 5%; }
 }


@-keyframes grow-90{
    from { right: 100%; }
    to   { right: 10%; }
 }
 
 @-webkit-keyframes grow-90{
    from { right: 100%; }
    to   { right: 10%; }
 }

@-keyframes grow-70{
   from { right: 100%; }
   to   { right: 30%; }
}

@-webkit-keyframes grow-70{
   from { right: 100%; }
   to   { right: 30%; }
}

@-keyframes grow-55{
    from { right: 100%; }
    to   { right: 45%; }
 }
 
 @-webkit-keyframes grow-55 {
    from { right: 100%; }
    to   { right: 45%; }
 }

@-keyframes grow-50{
   from { right: 100%; }
   to   { right: 50%; }
}

@-webkit-keyframes grow-50 {
   from { right: 100%; }
   to   { right: 50%; }
}




#skills {
  margin: 30px auto 0 auto;
  position: relative;
  width: 98%;  
}

#apps {
  float: left;
  text-align: right;
  width: 19%;

}

#apps p {
  padding:0px;
  position: relative;
  text-align: right;
  z-index: 2;
  line-height:23px;
  font-size:14px;
  padding-right:5px;
}

#scale {
  padding-bottom: 30px;
  position: absolute;
    left: 0;
    right: 0;
    bottom: -32px;
    font-size:.75rem;
}

#scale p {
  position: absolute;
    bottom: 0;
    left: -0.30%;
}

#scale p.one { left: 24%; }
#scale p.two { left: 49%; }
#scale p.three { left: 74%; }
#scale p.four { left: 99%; }

.grid {
  border-left: 1px dotted #e8ab6a;
  border-bottom: 1px dotted #e8ab6a;
  float: left;
  padding: 10px 0;
  position: relative;
  width: 60%;
}

.bar {
  float: left;
  height: 15px;
  margin-bottom: 23px;
  position: relative;
  width: 100%;
  z-index: 1;
  top:-4px;
}

.bar .inner {
  background-color: #feac40;
  position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
}

.bar.pct-100 .inner {  
  -webkit-animation-duration: 9s;
  -webkit-animation-name: grow-100;
  right: 0%;
}

.bar.pct-95 .inner {  
    -webkit-animation-duration: 9s;
    -webkit-animation-name: grow-95;
    right: 5%;
  }

.bar.pct-90 .inner {  
    -webkit-animation-duration: 9s;
    -webkit-animation-name: grow-90;
    right: 10%;
  }
  

.bar.pct-70 .inner {  
  -webkit-animation-duration: 9s;
  -webkit-animation-name: grow-70;
  right: 30%;
}

.bar.pct-55 .inner {  
    -webkit-animation-duration: 9s;
    -webkit-animation-name: grow-55;
    right: 45%;
  }

.bar.pct-50 .inner {  
  -webkit-animation-duration: 9s;
  -webkit-animation-name: grow-50;
  right: 50%;
}

.v-divider {
  border-right: 1px dotted #f0c89d;
  position: absolute;
  left: 0;
  right: 25%;
  bottom: 0;
  top: 0;
  z-index: 0;
}

.v-divider.one { right: 75%; }
.v-divider.two { right: 50%; }