
pre.html{
    background-color:#ccfff8;
    overflow:hidden;
    font-size:10px;
}
pre.css{
    background-color:#f6f8e9;
    overflow:hidden;
    font-size:10px;
}


/* Jumbo Tron 1 Styling */

.jumbotron.jumbo-bgimage-1{
    background-image: url(../template-folder/template-imagery/artem-sapegin-229391.jpg);
}
.jumbotron.jumbo-bgimage-1-1{
    background-image: url(../template-folder/template-imagery/ran-berkovich-59513.jpg);
}
.jumbotron.jumbo-bgimage-1-2{
    background-image: url(../template-folder/template-imagery/elijah-hail-182443.jpg);
}
.jumbotron.jumbo-bgimage-1-3{
    background-image: url(../template-folder/template-imagery/john-price-4977.jpg);
}
.jumbotron{
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}

.jumbotron.jumbo-bgimage-1{
    padding-top:180px;
}
.jumbo-bgimage-1-1 .container.words-overlay-black,
.jumbo-bgimage-1-2 .container.words-overlay-black,
.jumbo-bgimage-1-3 .container.words-overlay-black{
    color:#000;
    background-color:#ffffff3b;
    position:relative;
}
/* Jumbo Tron 1 Styling */



/* Jumbo Tron 2 Styling */
.jumbotron.jumbo-bgimage-2{
    background-image: url(../template-folder/template-imagery/city-sun-rise.jpg);
    padding:0px;
}
.jumbotron.jumbo-bgimage-2 .container.words-overlay-white{
    width:100%;
    padding:10% 5%;
}
.jumbotron.jumbo-bgimage-2-1{
    background-image: url(../template-folder/template-imagery/ricardo-gomez-angel-262359.jpg);
    padding:0px;
}
.jumbotron.jumbo-bgimage-2-2{
    background-image: url(../template-folder/template-imagery/adrian-infernus-281832.jpg);
    padding:0px;
}
.jumbotron.jumbo-bgimage-2-3{
    background-image: url(../template-folder/template-imagery/kalen-emsley-99660.jpg);
    padding:0px;
}
.jumbotron.jumbo-bgimage-2-1 .container.words-overlay-white,
.jumbotron.jumbo-bgimage-2-2 .container.words-overlay-white,
.jumbotron.jumbo-bgimage-2-3 .container.words-overlay-white{
    background:#0000008f;
    width:100%;
}
.jumbotron.jumbo-bgimage-2-1 .container.words-overlay-white{
    padding:5%;
}
.jumbotron.jumbo-bgimage-2-2 .container.words-overlay-white{
    padding:10%;
}
.jumbotron.jumbo-bgimage-2-3 .container.words-overlay-white{
    padding:15%;
}
/* Jumbo Tron 2 Styling */




/* Jumbo Tron 3 Styling */
.jumbotron.jumbo-bgimage-3{
    background-image: url(../template-folder/template-imagery/sawyer-bengtson-256274.jpg);
}
.jumbotron.jumbo-bgimage-3,
.jumbotron.jumbo-bgimage-3-1,
.jumbotron.jumbo-bgimage-3-2{
    padding:260px 0px;
}

.jumbotron.jumbo-bgimage-3-1{
    background-image: url(../template-folder/template-imagery/dan-gribbin-50368.jpg);
}
.jumbotron.jumbo-bgimage-3-2{
    background-image: url(../template-folder/template-imagery/filip-mroz-377525.jpg);
}
/* Jumbo Tron 3 Styling */



/* Jumbo Tron 3 VIDEO Styling */
.jumbotron.jumbo-bgimage-4{
    padding:0px;
    margin-bottom:0px;
}
#video-background{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
.video-content-over{
    position: relative;
    margin-top:10%;
    background: rgba(0, 0, 0, 0.3);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
#pause-button {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    cursor: pointer;
}
/* Jumbo Tron 3 VIDEO Styling */




/* Text-Overlay Styling */
.container.words-overlay-white{
    color:#fff;
    text-shadow: 1px 1px 1px #000000;
}
.container.words-overlay-black{
    color:#000;
}
/* Text-Overlay Styling */



/*Alignments and Widths */
.width-40percent{
    width:40%;
}
.width-50percent{
    width:50%;
}
.marginleft-10percent{
    margin-left:10%;
}
.marginright-10percent{
    margin-right:10%;
}



@media (max-width: 767px){
    .width-40percent,
    .width-50percent{
        width:100%;
    }
    .marginleft-10percent{
        margin-left:0%;
    }
    .marginright-10percent{
        margin-right:0%;
    }
}